# Dependency folders
node_modules/
dist/

# Environment and credentials
.env
serviceAccountKey.json
serviceAccountKeys.js

# Editor and config files
.vscode/

# Ignore HTML test/demo files
index.html
index1.html

# Ignore all text files
*.txt
